<h2>راهنمای استفاده</h2>

<figure>
  <blockquote class="blockquote">
    <h4>
      این برنامه به منظور رفاه حال هر چه بیشتر زائرین بارگاه منور ائمه اطهار و همچنین مدیریت و
      سازماندهی زائرین به منظور اسکان آنان طراحی و تدوین گردیده است.
    </h4>
  </blockquote>
  <figcaption class="blockquote-footer">
    <span class="text-danger"
      >این برنامه به صورت کاملا رایگان در اختیار عموم قرارداده شده است و فروش آن به هر نحوی غیر
      قانونی و خلاف شرع می باشد.</span
    >
  </figcaption>
</figure>

<br />
<br />
<h3>دیتابیس</h3>
<p>این نرم افزار از دیتابیس sqlite استفاده میکند.</p>
<p>دیتابیس در محل زیر قراردارد میتوانید با کپی کردن آن یک بک آپ داشته باشید.</p>
<p>MokebManager\MokebManagerNg\<mark>MokebManagerNg.db</mark></p>
<p>برای داشتن بک آپ فقط کافیست از فایل MokebManagerNg.db کپی گرفته شود.</p>

<br />
<br />
<h3>اجرای برنامه</h3>
<u>:گام اول</u>
<p>از مسیر زیر وارد پوشه اجرای برنامه شوید:</p>
<p>\MokebManager\اجرای برنامه</p>
<p>سپس برنامه <mark> 1_ تنظیم ip.exe</mark> را اجرا کنید.</p>
<p>بعد از اجرا پیغامی مشابه متن زیر نمایش داده خواهد شد:</p>
<p>Run application with this ip: <mark>https://192.168.43.141:4200</mark></p>

<u>:گام دوم</u>
<p>حال فایل <mark>2_ Host.bat</mark> را اجرا کنید و چند دقیقه ای صبر کنید تا هاست اجرا شود.</p>

<u>:گام سوم</u>
<p>
  حال فایل <mark>3_ Server.bat</mark> را اجرا کنید و منتظر باشید تا پیغام
  <mark>√ Compiled successfully.</mark> نمایش داده شود.
</p>

<u>مرحله آخر:</u>

<figure>
  <blockquote class="blockquote">
    <p>
      آدرس <mark>https://xxx.xxx.xxx.xxx:44355</mark> در مرورگر باز کرده و دسترسی های لازم را به
      برنامه بدهید.
    </p>
    <p>
      سپس آدرس <mark>https://xxx.xxx.xxx.xxx:4200</mark> را در یک تب دیگر باز کرده و به این صفحه هم
      تمام دسترسی های لازم داده شود.
    </p>
  </blockquote>
  <figcaption class="blockquote-footer">
    <figcaption class="blockquote-footer">
      <span class="text-danger"
        >به جای xxx.xxx.xxx.xxx آی پی که در گام اول برنامه نشان داد می شود تایپ شود.</span
      >
    </figcaption>
  </figcaption>
</figure>


<br />
<br />
<h3>موکب ها</h3>
<p>از منوی تنظیمات موکب میتوانید موکب های خود را به تعداد بی نهایت اضافه، ویرایش و یا حذف کنید.</p>
<p>هر موکب شامل اطلاعات زیر می باشد:</p>
<p>نام: نام موکب.</p>
<p>جنسیت: نعیین کننده جنسیت زائرین قابل پذیرش.</p>
<p>ظرفیت: گنجایش ظرفیت نفرات قابل اسکان موکب.</p>
<p>آدرس: آدرس موکب.</p>
<p>لوکیشن: لوکیشن (gps) موکب اینجا نوشته شود. *** در ادامه زمان افزودن زائر جدید در صورت پرینت گرفتن کارت برای زائر لوکیشن موکب به صورت یک qrcode برای زائر چاپ خواهد شد.</p>
<img style="width: 200px; height: 300px;" src="assets/images/image_2024-07-19_16-58-36.png" alt="نمونه کارت زائر">
<p>توجه داشته باشید می توانید موکب های خود را داخل برنامه تقسیم کنید.</p>
<p>به عنوان مثال فرض کنید موکبی با نام امام رضا(ع) داریم که ظرفیت کلی آن 1000 نفر که بخشی برای استفاده آقایان
  با ظرفیت 600 نفر و بخشی برای استفاده بانوان با ظرفیت 400 نفر باشد.
  حال در برنامه به جای افزودن موکب امام رضا با ظرفیت 1000 نفر آنرا به دو موکب با عناوین
  موکب امام رضا (آقایان) با ظرفیت 600 نفر و موکب امام رضا (بانوان) با ظرفیت 400 نفر تقسیم میکنیم.
  و موارد مشابه دیگر...
</p>


<br />
<br />
<h3>زائر جدید</h3>
<p>این بخش مربوط به زائرینی می باشد برای اولین بار وارد موکب می شوند.</p>
<p>پس از انتخاب جنسیت زائر موکب های قابل پذیرش برای وی نمایش داده می شود که میتوانید یکی از آنان را انتخاب کنید.</p>
<p>مدت اقامت پیش فرض زائر یک شب می باشد امکان انتخاب تا 3 شب فراهم شده است.</p>
<p>امکان گرفتن عکس از زائر، پاسپورت و... در صورت نیاز فراهم شده است.</p>
<p>و دیگر موارد که لزومی بر توضیح اضافه نمی باشد.</p>
<p>در انتها و پس از ثبت و چاپ کارت زائر جایگاه اسکان ایشان بر روی کارت نشان داده خواهد شد.</p>


<br />
<br />
<h3>تمدید رزرو</h3>
<p>این بخش مخصوص زائرینی است که قبلا ثبت نام کرده اند و قسمت دارند چند شبی دیگر در موکب اسکان داشته باشند</p>


<br />
<br />
<h3>ثبت خروج</h3>
<p>چنانچه زائری زودتر از موعد خروج خود قصد ترک موکب را داشته باشد از این قسمت میتوانید برای این امر اقدام کنید.</p>




<br />
<br />
<h3>زائرین</h3>
<p>در این صفحه لیست زائرین با امکان جستجو، ویرایش ، حذف و دیدن جزئیات اطلاعات آنان فراهم شده است.</p>




<br />
<br />
<h3>گزارشگیری</h3>
<p>گزارش تعداد رزرو ها به تفکیک موکب</p>
<p>با انتخاب بازه تاریخی تعداد پذیرشی که هر موکب صورت گرفته به صورت نمودار نشان داده می شود.</p>
<p>گزارش ظرفیت های موجود موکب ها</p>
<p>شامل آمار رزرو های امشب هر موکب</p>
<p>و ظرفیت خالی باقی مانده برای امشب هر موکب</p>
