<!-- clock-example.component.html -->
<p-toast />

<zxing-scanner
  style="width: 60%; align-self: center"
  *ngIf="scanShow"
  [ngStyle]="styleScanner"
  (scanSuccess)="handleScanSuccess($event)"
  [device]="selectedDevice"
  [formats]="['QR_CODE']"
  [torch]="true"
></zxing-scanner>

<button type="button" (click)="scanShow = true" pButton label="Scan QR_CODE" class="mb-3"></button>

<p *ngIf="scanResult !== null">Scanned Result: {{ scanResult }}</p>

<div class="p-fluid">
  <form [formGroup]="form" (ngSubmit)="onSubmit()">
    <div class="p-field mb-3">
      <label for="passportNo">Passport No</label>
      <input id="passportNo" type="text" pInputText formControlName="passportNo" />
    </div>

    <div class="p-field mb-3">
      <label for="gender">Gender</label>
      <p-dropdown
        [options]="genders"
        formControlName="gender"
        placeholder="Select a Gender"
        (onChange)="changeGender($event)"
      ></p-dropdown>
    </div>

    <div class="p-field mb-3">
      <label for="mokebId">Mokeb </label>
      <p-dropdown
        [options]="mokebsDropDown"
        formControlName="mokebId"
        optionLabel="label"
        optionValue="value"
        placeholder="Select a Mokeb"
      />
    </div>

    <div class="p-field mb-3">
      <label for="gender">مدت اقامت</label>
      <div class="d-flex gap-5">
        <div *ngFor="let entryExitOption of entryExitOptions" class="field-checkbox">
          <p-radioButton
            [inputId]="entryExitOption.key"
            [value]="entryExitOption"
            formControlName="entryExitDate"
          />
          <label [for]="entryExitOption.key" class="ml-2">
            {{ entryExitOption.name }}
          </label>
        </div>
      </div>
    </div>

    <div class="p-field mb-3">
      <label for="image">Image</label>
      <p-fileUpload
        #fileUpload
        name="image"
        accept="image/*"
        customUpload
        formControlName="image"
        (onSelect)="onFileSelected($event)"
        auto
      ></p-fileUpload>
    </div>

    <div class="card flex justify-content-center mt-3">
      <p-accordion>
        <p-accordionTab header="اطلاعات اضافی">
          <div class="p-field mb-3">
            <label for="name">Name</label>
            <input id="name" type="text" pInputText formControlName="name" />
          </div>

          <div class="p-field mb-3">
            <label for="family">Family</label>
            <input id="family" type="text" pInputText formControlName="family" />
          </div>

          <div class="p-field mb-3">
            <label for="phoneNumber">Phone Number</label>
            <input id="phoneNumber" type="number" pInputText formControlName="phoneNumber" />
          </div>

          <div class="p-field mb-3">
            <p-dropdown
              [options]="allProvinces"
              formControlName="state"
              optionLabel="name"
              [filter]="true"
              filterBy="name"
              placeholder="انتخاب استان"
              (onChange)="getCitiesOfProvice($event)"
            >
              <ng-template pTemplate="selectedItem" let-selectedOption>
                <div class="flex align-items-center gap-2">
                  <div>{{ selectedOption.name }}</div>
                </div>
              </ng-template>
              <ng-template let-provinces pTemplate="item">
                <div class="flex align-items-center gap-2">
                  <div>{{ provinces.name }}</div>
                </div>
              </ng-template>
            </p-dropdown>
          </div>

          <div class="p-field mb-3">
            <p-dropdown
              [options]="citiesOfProvince"
              formControlName="city"
              optionLabel="name"
              [filter]="true"
              filterBy="name"
              placeholder="انتخاب شهر"
            >
              <ng-template pTemplate="selectedItem" let-selectedOption>
                <div class="flex align-items-center gap-2">
                  <div>{{ selectedOption.name }}</div>
                </div>
              </ng-template>
              <ng-template let-citiesOfProvince pTemplate="item">
                <div class="flex align-items-center gap-2">
                  <div>{{ citiesOfProvince.name }}</div>
                </div>
              </ng-template>
            </p-dropdown>
          </div>

          <div class="p-field mb-3">
            <label for="address">Address</label>
            <input id="address" type="text" pInputText formControlName="address" />
          </div>
        </p-accordionTab>
      </p-accordion>
    </div>

    <button type=" submit" pButton label="Submit" [disabled]="form.invalid"></button>
  </form>
</div>
