<h3>درباره ما</h3>

<h4>
  نرم افزار مدیریت موکب (تهیه شده توسط جمعی از خدام موکب شهدای فاوا) به منظور تسهیل فرآیند ثبت و
  اسکان زوار حرم ائمه اطهار تهیه و تولید گرید.
</h4>
<h4>این برنامه به صورت رایگان عرضه و در اختیار دیگر مواکب قرار گرفته است.</h4>

<h4>جهت ارتباط بیشتر، نقدوانتقادات، پیشنهادات و تهیه و استفاده از برنامه با ما تماس بگیرید:</h4>

<span style="direction: ltr">
  <h4>+98 919 041 1342</h4>
  <h4>+98 915 207 8926</h4>
  <h4><a href="https://github.com/behnamasaei/MokebManager/" target="_blank">سورس برنامه</a></h4>
</span>
