<h2>درباره ما</h2>
<br />
<h4>
  نرم افزار مدیریت موکب (طراحی، تجزیه تحلیل و پیاده سازی شده توسط جمعی از خدام موکب شهدای فاوا) به
  منظور تسهیل فرآیند ثبت و اسکان زوار حرم ائمه اطهار(علیه السلام) تهیه و تولید گردید و به صورت
  رایگان عرضه و در اختیار دیگر مواکب قرار گرفته شده است.
</h4>

<br />
<h4>
  از کلیه مسئولین ستاد بازسازی عتبات عالیات و موکب شهدای فاوا که ما را در تولید این نرم افزار یاری
  نمودند کمال تشکر را داریم.
</h4>
<br />
<h4>جهت ارتباط بیشتر، نقدوانتقادات، پیشنهادات و تهیه و استفاده از برنامه با ما تماس بگیرید:</h4>
<br />
<span style="direction: ltr">
  <h4>abarmatn.com</h4>
  <h4>شبکه های اجتماعی: &#64;behnamasaei</h4>
  <h4>ایمیل: behnamasaei&#64;gmail.com</h4>
  <!-- <h4><a href="https://github.com/behnamasaei/MokebManager/" target="_blank">سورس برنامه</a></h4> -->
</span>
