<h3>درباره ما</h3>

<h4>
  نرم افزار مدیریت موکب (طراحی، تجزیه تحلیل و پیاده سازی شده توسط جمعی از خدام موکب شهدای فاوا) به
  منظور تسهیل فرآیند ثبت و اسکان زوار حرم ائمه اطهار(علیه السلام) تهیه و تولید گرید.
</h4>
<h4>این برنامه به صورت رایگان عرضه و در اختیار دیگر مواکب قرار گرفته است.</h4>

<h4>جهت ارتباط بیشتر، نقدوانتقادات، پیشنهادات و تهیه و استفاده از برنامه با ما تماس بگیرید:</h4>

<span style="direction: ltr">
  <h4>abarmatn.com</h4>
  <h4>شبکه های اجتماعی: &#64;behnamasaei</h4>
  <h4>ایمیل: behnamasaei&#64;gmail.com</h4>
  <!-- <h4><a href="https://github.com/behnamasaei/MokebManager/" target="_blank">سورس برنامه</a></h4> -->
</span>
