<p-toast /> <p-confirmDialog />

<div class="card">
  <p-table #dt [value]="zaers.items" dataKey="id" [rowHover]="true" [filterDelay]="0">
    <ng-template pTemplate="header">
      <tr>
        <th style="width: 25%" id="passportHeader">{{ '::PassportNo' | abpLocalization }}</th>
        <th style="width: 25%" id="genderTable">{{ '::Gender' | abpLocalization }}</th>
        <th style="width: 50%">{{ '::Detail' | abpLocalization }}</th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-zaer>
      <tr>
        <td>{{ zaer.passportNo }}</td>
        <td id="genderTable">
          <span *ngIf="zaer.gender == 0">
            {{ '::Male' | abpLocalization }}
          </span>
          <span *ngIf="zaer.gender == 1">
            {{ '::Female' | abpLocalization }}
          </span>
        </td>
        <td>
          <p-button
            pRipple
            icon="pi pi-eye"
            class="mr-2"
            [rounded]="true"
            [outlined]="true"
            (click)="showInformation(zaer.id)"
          />
          <p-button
            pRipple
            icon="pi pi-pencil"
            class="mx-1"
            [rounded]="true"
            [outlined]="true"
            severity="success"
            (click)="editZaer(zaer)"
          />
          <p-button
            pRipple
            icon="pi pi-trash"
            severity="danger"
            [rounded]="true"
            [outlined]="true"
            (click)="deleteZaer(zaer)"
          />
        </td>
      </tr>
    </ng-template>
  </p-table>
  <p-paginator
    (onPageChange)="onPageChange($event)"
    [first]="paged.skipCount"
    [rows]="paged.maxResultCount"
    [totalRecords]="zaers.totalCount"
  />
</div>
