// Define breakpoints
$mobile-max: 767px;

// Hide element on mobile screens
@media (max-width: $mobile-max) {
  #genderTable {
    display: none;
  }

  #passportHeader {
    width: 50% !important;
  }
}
