<p-toast />

<app-barcode-scanner (scanResultEvent)="handleScanResult($event)"></app-barcode-scanner>

<div *ngIf="scanResult !== null">
  <p>QrCode: {{ scanResult }}</p>

  <button
    type="button"
    (click)="barcodescanner.startScanning()"
    pButton
    label="اسکن بارکد"
    class="mb-3"
  ></button>
</div>

<div class="p-fluid">
  <div class="p-field mb-3">
    <label for="passportNo">{{ '::PassportNo' | abpLocalization }}</label>
    <input id="passportNo" type="text" pInputText [(ngModel)]="passportNo" />
  </div>
</div>

<div class="p-field mb-3">
  <label for="gender">{{ '::StayingTime' | abpLocalization }}</label>
  <div class="d-flex gap-5">
    <div *ngFor="let entryExitOption of entryExitOptions" class="field-checkbox">
      <p-radioButton
        [inputId]="entryExitOption.key"
        [value]="entryExitOption"
        [(ngModel)]="selectedEntryExit"
      />
      <label [for]="entryExitOption.key" class="ml-2">
        {{ entryExitOption.name }}
      </label>
    </div>
  </div>
</div>

<button type="submit" pButton label="{{ '::Submit' | abpLocalization }}" (click)="save()"></button>
