<p-toast />

<zxing-scanner
  style="width: 60%; align-self: center"
  *ngIf="scanShow"
  [ngStyle]="styleScanner"
  (scanSuccess)="handleScanSuccess($event)"
  [device]="selectedDevice"
  [formats]="['QR_CODE']"
  [torch]="true"
></zxing-scanner>

<button type="button" (click)="scanShow = true" pButton label="اسکن بارکد" class="mb-3"></button>

<p *ngIf="scanResult !== null">Scanned Result: {{ scanResult }}</p>

<div class="p-fluid">
  <div class="p-field mb-3">
    <label for="passportNo">{{ '::PassportNo' | abpLocalization }}</label>
    <input id="passportNo" type="text" pInputText [(ngModel)]="passportNo" />
  </div>
</div>

<button type="submit" pButton label="{{ '::Submit' | abpLocalization }}" (click)="save()"></button>
