<p-card>
  <form [formGroup]="mokebForm" (ngSubmit)="onSubmit()">
    <div class="p-fluid">
      <div class="p-field mb-3">
        <label for="name">نام</label>
        <input id="name" type="text" pInputText formControlName="name" />
        <div *ngIf="mokebForm.controls['name'].invalid && mokebForm.controls['name'].touched">
          نام اجباری میباشد.
        </div>
      </div>

      <div class="p-field mb-3">
        <label for="gender">جنسیت</label>
        <p-dropdown
          id="gender"
          [options]="genders"
          formControlName="gender"
          placeholder="انتخاب جنسیت"
        ></p-dropdown>
        <div *ngIf="mokebForm.controls['gender'].invalid && mokebForm.controls['gender'].touched">
          جنسیت اجباری.
        </div>
      </div>

      <div class="p-field mb-3">
        <label for="capacity">ظرفیت</label>
        <input id="capacity" type="number" pInputText formControlName="capacity" />
        <div
          *ngIf="mokebForm.controls['capacity'].invalid && mokebForm.controls['capacity'].touched"
        >
          ظرفیت اجباری.
        </div>
      </div>

      <div class="p-field mb-3">
        <label for="name">آدرس</label>
        <input id="name" type="text" pInputText formControlName="address" />
      </div>

      <div class="p-field mb-3">
        <label for="name">لوکیشن</label>
        <input id="name" type="text" pInputText formControlName="location" />
      </div>

      <button
        pButton
        type="submit"
        label="ثبت"
        class="mt-5"
        [disabled]="mokebForm.invalid"
      ></button>
    </div>
  </form>
</p-card>
