<p-card>
  <form [formGroup]="mokebForm" (ngSubmit)="onSubmit()">
    <div class="p-fluid">
      <div class="p-field mb-3">
        <label for="name">{{ '::Name' | abpLocalization }}</label>
        <input id="name" type="text" pInputText formControlName="name" />
        <div *ngIf="mokebForm.controls['name'].invalid && mokebForm.controls['name'].touched">
          {{ '::NameRequired' | abpLocalization }}.
        </div>
      </div>

      <div class="p-field mb-3">
        <label for="gender">{{ '::Gender' | abpLocalization }}</label>
        <p-dropdown
          id="gender"
          [options]="genders"
          formControlName="gender"
          placeholder="{{ '::SelectGender' | abpLocalization }}"
        ></p-dropdown>
        <div *ngIf="mokebForm.controls['gender'].invalid && mokebForm.controls['gender'].touched">
          {{ '::GenderRequired' | abpLocalization }}.
        </div>
      </div>

      <div class="p-field mb-3">
        <label for="capacity">{{ '::Capacity' | abpLocalization }}</label>
        <input id="capacity" type="number" pInputText formControlName="capacity" />
        <div
          *ngIf="mokebForm.controls['capacity'].invalid && mokebForm.controls['capacity'].touched"
        >
          {{ '::CapacityRequired' | abpLocalization }}.
        </div>
      </div>

      <div class="p-field mb-3">
        <label for="name">آدرس</label>
        <input id="name" type="text" pInputText formControlName="address" />
      </div>

      <div class="p-field mb-3">
        <label for="name">لوکیشن</label>
        <input id="name" type="text" pInputText formControlName="location" />
      </div>

      <button
        pButton
        type="submit"
        label="{{ '::Submit' | abpLocalization }}"
        class="mt-5"
        [disabled]="mokebForm.invalid"
      ></button>
    </div>
  </form>
</p-card>
