<div class="card flex justify-content-center">
  <p-card header="">
    <div class="mb-3">
      <p-panel header="مشخصات زائر" class="mb-3">
        <div class="row">
          <div class="col-12">نام: {{ zaer.name }}</div>

          <div class="col-12">نام خانوادگی: {{ zaer.family }}</div>

          <div class="col-12">
            جنسیت:
            <span *ngIf="zaer.gender == 0">
              {{ '::Male' | abpLocalization }}
            </span>
            <span *ngIf="zaer.gender == 1">
              {{ '::Female' | abpLocalization }}
            </span>
          </div>

          <div class="col-12">پاسپورت: {{ zaer.passportNo }}</div>

          <div class="col-12">موکب: {{ zaer.mokeb.name }}</div>

          <div class="col-12">جایگاه: {{ zaer.mokebState?.state }}</div>

          <div class="col-12">شماره تلفن: {{ zaer.phoneNumber }}</div>

          <div class="col-12">استان: {{ zaer.state }}</div>

          <div class="col-12">شهر: {{ zaer.city }}</div>

          <div class="col-12">آدرس: {{ zaer.address }}</div>
        </div>
      </p-panel>
    </div>

    <div class="mb-3">
      <p-panel header="تاریخ های رزرو" class="mb-3">
        <div class="row">
          <div class="col-6">ورود</div>
          <div class="col-6">خروج</div>
          <span class="row" *ngFor="let entryExitZaerDate of zaer.entryExitZaerDates">
            <div class="col-6">
              {{ convertUtcToJalali(entryExitZaerDate.entryDate) }}
            </div>
            <div class="col-6">
              {{ convertUtcToJalali(entryExitZaerDate.exitDate) }}
            </div>
          </span>
        </div>
      </p-panel>
    </div>

    <div class="mb-3">
      <p-panel header="زمان های ورود یا خروج" class="mb-3">
        <div class="row">
          <span *ngFor="let clockEntryExit of zaer.clockEntryExits">
            <div class="col">
              {{ convertUtcToJalali(clockEntryExit.entryExitClock) }}
            </div>
          </span>
        </div>
      </p-panel>
    </div>
  </p-card>
</div>
