/* Styles for the home component */

:host ::ng-deep {
  .speeddial-tooltip-demo {
    .p-speeddial-direction-up {
      &.speeddial-left {
        left: 0;
        bottom: 0;
      }

      &.speeddial-right {
        right: 0;
        bottom: 0;
      }
    }
  }

  .p-menu .p-menuitem > .p-menuitem-content .p-menuitem-link .p-menuitem-icon {
    margin-left: 0.5rem;
  }

  .homeComponent {
    img {
      background-repeat: no-repeat;
      background-repeat: no-repeat;
      background-size: cover; // This ensures the image covers the entire element
      background-position: center; // This centers the image within the element
      height: 100%; // Ensures the element takes full height
      width: 100%; // Ensures the element takes full width
    }
  }

  $mobile-max: 767px;

  // Hide element on mobile screens
  @media (max-width: $mobile-max) {
    .hideOnMobile {
      display: none;
    }
  }
}
