<!-- clock-example.component.html -->
<p-toast />
<div>
  <p>{{ currentTime }}</p>
</div>
<h1>{{ getEntryDate() }}</h1>

<h1>{{ getExitDate(15) }}</h1>

<div class="p-fluid">
  <form [formGroup]="form" (ngSubmit)="onSubmit()">
    <div class="p-field mb-3">
      <label for="passportNo">Passport No</label>
      <input id="passportNo" type="text" pInputText formControlName="passportNo" />
    </div>

    <div class="p-field mb-3">
      <label for="gender">Gender</label>
      <p-dropdown
        [options]="genders"
        formControlName="gender"
        placeholder="Select a Gender"
        (onChange)="changeGender($event)"
      ></p-dropdown>
    </div>

    <div class="p-field mb-3">
      <label for="mokebId">Mokeb </label>
      <p-dropdown
        [options]="mokebsDropDown"
        formControlName="mokebId"
        optionLabel="label"
        optionValue="value"
        placeholder="Select a Mokeb"
      />
    </div>

    <div class="p-field mb-3">
      <label for="gender">مدت اقامت</label>
      <div class="d-flex gap-5">
        <div *ngFor="let entryExitOption of entryExitOptions" class="field-checkbox">
          <p-radioButton
            [inputId]="entryExitOption.key"
            [value]="entryExitOption"
            formControlName="entryExitDate"
          />
          <label [for]="entryExitOption.key" class="ml-2">
            {{ entryExitOption.name }}
          </label>
        </div>
      </div>
    </div>

    <div class="p-field mb-3">
      <label for="image">Image</label>
      <p-fileUpload
        #fileUpload
        name="image"
        accept="image/*"
        customUpload
        formControlName="image"
        (onSelect)="onFileSelected($event)"
        auto
      ></p-fileUpload>
    </div>

    <div class="card flex justify-content-center mt-3">
      <p-accordion>
        <p-accordionTab header="اطلاعات اضافی">
          <div class="p-field mb-3">
            <label for="name">Name</label>
            <input id="name" type="text" pInputText formControlName="name" />
          </div>

          <div class="p-field mb-3">
            <label for="family">Family</label>
            <input id="family" type="text" pInputText formControlName="family" />
          </div>

          <div class="p-field mb-3">
            <label for="phoneNumber">Phone Number</label>
            <input id="phoneNumber" type="number" pInputText formControlName="phoneNumber" />
          </div>

          <div class="p-field mb-3">
            <label for="state">State</label>
            <input id="state" type="text" pInputText formControlName="state" />
          </div>

          <div class="p-field mb-3">
            <label for="city">City</label>
            <input id="city" type="text" pInputText formControlName="city" />
          </div>

          <div class="p-field mb-3">
            <label for="address">Address</label>
            <input id="address" type="text" pInputText formControlName="address" />
          </div>
        </p-accordionTab>
      </p-accordion>
    </div>

    <button type=" submit" pButton label="Submit" [disabled]="form.invalid"></button>
  </form>
</div>
